@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pageCartContainer {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: calc(80vh - 150px);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.pageTitleCart {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F9F9F9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cartItem:hover {
    background-color: #F8F8F8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cta-button {
    background-color: #4CAF50;
    background: linear-gradient(90deg, #4CAF50 0%, #66BB6A 100%);
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.cta-button:hover {
    background-color: #388E3C;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.emptyCart {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.emptyCart h2 {
    margin-bottom: 20px;
}

.emptyCart p {
    margin-bottom: 30px;
}

.emptyCart svg {
    width: 100px;
    height: 100px;
    margin-right: 8px;
    margin-bottom: 15px;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0px 0px 8px #4CAF50);
    transition: all 0.3s ease;
}

.productImageCart {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    transition: transform 0.2s ease;
}

.productImage:hover {
    transform: scale(1.05);
}

.productInfo {
    flex: 2;
    text-align: left;
    margin-right: 20px;
}

.productInfo strong {
    color: #388E3C;
    font-family: 'Poppins', sans-serif;
}

.productInfo strong:hover {
    color: #43A047;
}

.productInfo p {
    color: #7D7D7D;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.quantityControl {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.quantityButton {
    padding: 10px 15px;
    margin: 0 15px;
    font-size: 1.5em;
    border: none;
    background-color: #A0D468;
    cursor: pointer;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.quantityButton:hover {
    background-color: #7CB342;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.priceCartItems {
    flex: 1;
    text-align: right;
    font-size: 18px;
    color: #4F4F4F;
}

.removeButton {
    flex: 0.5;
    border: none;
    background-color: transparent;
    color: #D32F2F;
    cursor: pointer;
    font-size: 1.5em;
}

.removeButton:hover {
    transform: scale(1.05);
    animation: pulse 0.6s infinite;
}

.checkoutSection {
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    color: #388E3C;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 8px;
    border-top: 2px solid #E0E0E0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.checkoutSection strong {
    flex: 1;
    margin-right: 20px;
}

.checkoutButton {
    margin-top: 20px;
    margin-right: 20px;
    width: auto;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #A0D468;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
}

.checkoutButton:hover {
    background-color: #388E3C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}