.categorySection {
  padding: 20px;
}

.sectionTitleCS {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.categoryButton {
  padding: 10px 20px;
  border-radius: 999px;
  border: 1px solid #e0e0e0;
  background-color: #6b9e97;
  cursor: pointer;
  color: #f0eadb;
  font-size: 16px;
}

.categoryButton:hover {
  background-color: #ffca99;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
