.footer {
  background-color: #6b9e97;
  padding: 20px 10px;
  border-top: 2px solid #f0eadb;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.footerSection {
  flex: 1;
  margin: 0 20px;
  padding: 10px;
}

.footerBottom {
  text-align: center;
  margin-top: 30px;
  border-top: 2px solid #f0eadb;
  padding-top: 20px;
  color: #f0eadb;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.footer h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #ffca99;
  margin-bottom: 15px;
}

.footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #f0eadb;
}
