.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #6b9e97;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.logo {
  font-size: 1.5em;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  color: #4CAF50;
  text-shadow: 0.5px 0.5px 1px #b6b795;
}

.logo svg {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  margin-bottom: 12px;
  filter: drop-shadow(3px 3px 5px #333333);
}

.navContainer {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navList {
  display: flex;
  list-style: none;
  gap: 20px;
}

.searchBar {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 10px 20px;
  border-radius: 999px;
  border: 1px solid #e2ccc1;
  outline: none;
}

.searchButton {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #4caf50;
  border: none;
  border-radius: 999px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #388e3c;
}

.navItem {
  text-decoration: none;
  color: #f0eadb;
  padding: 5px 0;
  transition: color 0.3s ease;
  white-space: nowrap;
  min-width: 100px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.navItemActive {
  text-decoration: none;
  padding: 5px 0;
  color: #f0eadb;
  font-weight: bold;
  transition: color 0.3s ease;
  border-bottom: 2px solid #ffca99;
  font-family: 'Poppins', sans-serif;
}

.navItemContainer {
  position: relative;
  display: inline-block;
}

.navItem:hover {
  color: #ffca99;
}

.navItem::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffca99;
  visibility: hidden;
  transition: all 0.3 ease-in-out;
}

.navItem:hover::before,
.navItemActive::before {
  visibility: visible;
  width: 100%;
}

.cartWrapper {
  position: relative;
}

.rightSection {
  display: flex;
  align-items: center;
}

.authButtonText {
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  color: #333333;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.authButtonText:hover {
  color: #ffca99;
}

.profileIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

.profileIcon:hover {
  background-color: #e0e0e0;
}

.profileIcon svg {
  width: 32px;
  height: 32px;
  fill: #4CAF50;
}

.profileIcon:hover svg {
  fill: #ffca99;
}