.container {
  padding: 20px;
}

.productDetailsInfo {
  display: flex;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  background-color: #f0eadb;

}

.images {
  flex: 1;
  margin-right: 24px;
  margin-bottom: 20px;
  margin-left: 16px;
  margin-top: 20px;
  padding: 0px 20px;
}

.mainImage {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.thumbnails {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.thumbnail {
  width: 30%;
  cursor: pointer;
  border-radius: 10px;
}

.details {
  flex: 2;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #5a8680;
  line-height: 1.6;
}

.details h1 {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #333333;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  padding: 0 0 10px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.productDetailsPrice {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  color: #ffae73;
  font-weight: bold;
  line-height: 1.2;
  margin: 20px 0;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.addToCart {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 12px 24px;
  background-color: #4caf50;
  color: #f0eadb;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.addToCart:hover {
  background-color: #388e3c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.addToWishlist {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 12px 24px;
  background-color: #b6b795;
  color: #333333;
  border: none;
  border-radius: 999px;
  cursor: pointer;
}

.addToWishlist:hover {
  background-color: #e2ccc1;
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.backToCategories {
  color: #dff542;
  text-decoration: none;
  font-weight: bold;
}

.relatedProducts {
  margin-top: 40px;
  position: relative;
  background-color: #f0eadb;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

.relatedProducts h2 {
  font-family: 'Merriweather', serif;
  font-size: 32px;
  color: #2b2b2b;
  font-weight: bold;
  line-height: 1.4;
  display: block;
  text-align: center;
}

.relatedList {
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: transform 0.5s ease;
}

.relatedCard {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333333;
  text-align: center;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  min-width: 150px;
  max-width: 200px;
  margin-right: 30px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.relatedCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  transform: scale(1.05);
}

.relatedCard h4 {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.relatedCard h4:hover {
  color: #4caf50;
  cursor: pointer;
}

.relatedImage {
  width: 100%;
  border-radius: 10px;
}

.relatedPrice {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #FFAB74;
}

.prevArrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: #6b9e97;
}

.nextArrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: #6b9e97;
}

.nextArrow:hover {
  background-color: #f0f0f0;
  color: #333333;
  transition: background-color 0.3s ease;
}

.prevArrow:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}