@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.pageContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.pageTitle {
    font-size: 2em;
    margin-bottom: 20px;
}

.cart-container {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    background-size: contain;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.cart-container:hover {
    transform: scale(1.05);
}

.pageContainer p {
    color: #4F4F4F;
}

.pageContainer button {
    background-color: #A0D468;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pageContainer button:hover {
    background-color: #8CC153;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
